base:
#  chroot_dir: /
  chroot_dir: /var/named/chroot
  working_dir: /var/named
  conf_file_dir: /etc/named
  conf_file_name: hosting.conf

addmaster:
  ip_address: 192.168.10.5
  name_servers:
    - name: ns1.example.com
      ssh: "-p 22 -l root"
    - name: ns1.example.com
      ssh: "-p 22 -l root"
  email: root@example.com
  spf: "v=spf1 mx ~all"
  zone_dir: master
  bind_user: named
  bind_group: named

addslave:
  master_ip: 192.168.1.1
  zone_dir: slave
