base:
  conf_file_dir: /var/named/chroot/etc
  conf_file_name: hosting.conf

addmaster:
  ip_address: 192.168.10.5
  name_servers:
    - name: ns1.example.com
      ssh: "-p 22 -l root"
    - name: ns1.example.com
      ssh: "-p 22 -l root"
  email: root@example.com
  zone_dir: /var/named/chroot/var/named/master
  bind_user: named
  bind_group: named

addslave:
  master_ip: 192.168.1.1
  zone_dir: /var/named/chroot/var/named/slave
